@import "helpers/_helpers.scss";
/* Fonts
   ========================================================================== */

@font-face {
    font-family: "PFDinTextPro-Regular";
    font-style: normal;
    font-weight: normal;
    src: local("PFDinTextPro-Regular"),
        url("../dist/fonts/PFDinTextPro-Regular.woff") format("woff");
}

@font-face {
    font-family: "PFDinTextPro-Bold";
    font-style: normal;
    font-weight: normal;
    src: local("PFDinTextPro-Bold"),
        url("../dist/fonts/PFDinTextPro-Bold.woff") format("woff");
}
body {
    font-family: PFDinTextPro-Regular, sans-serif;
    color: $black;
}

.main-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

/* Buttons
   ========================================================================== */
.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    border-radius: 50px;
    color: white;
    padding: 7px;
}

.btn:active {
    opacity: 0.8;
    transform: scale(0.95);
}

.btn:hover {
    color: white;
}

.btn:focus {
    box-shadow: none;
}

.btn_orange {
    background: linear-gradient(360deg, #e2a03b 0%, #eeca4d 100%);
    border: none;
}

.btn_orange:hover {
    background: linear-gradient(360deg, #e8a847 0%, #fbcf35 100%);
}

.btn_outline-orange {
    color: #3b3d3e;
    border: 1px solid #e2a03b;
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 19px;
}

.btn_outline-orange:hover {
    background-image: linear-gradient(360deg, #e2a03b 0%, #eeca4d 100%);
    border: none;
}

nav {
    li {
        list-style: none;
    }
}

a {
    color: #e2a03b;

    &:hover {
        color: #f9bc02;
        text-decoration: none;
    }
}
.nav-list {
    display: flex;
    justify-content: space-around;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    margin: 0;
    padding: 0;
    height: 100%;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}
.logo {
    img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}
.phone,
.address {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
        margin-right: 10px;
    }
}

.address {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #3b3d3e;
}

.phone {
    &__link {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: right;
        color: #3b3d3e;
    }
}
