@import "helpers/_helpers.scss";
/* Fonts
   ========================================================================== */

@font-face {
    font-family: "PFDinTextPro-Regular";
    font-style: normal;
    font-weight: normal;
    src: local("PFDinTextPro-Regular"),
        url("./PFDinTextPro-Regular.woff") format("woff");
}

@font-face {
    font-family: "PFDinTextPro-Bold";
    font-style: normal;
    font-weight: normal;
    src: local("PFDinTextPro-Bold"),
        url("./PFDinTextPro-Bold.woff") format("woff");
}
body {
    font-family: PFDinTextPro-Regular, sans-serif;
    color: $black;
}

h1,
h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 100%;
    color: #3b3d3e;
    letter-spacing: 1.1px;
}
h2 {
    margin: 0 0 41px;
    text-align: center;

    @media screen and (max-width: 768px) {
        font-weight: 500;
        font-size: 28px;
        line-height: 120%;
    }
}

.main-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

/* Buttons
   ========================================================================== */
.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    border-radius: 50px;
    color: white;
    padding: 7px;
}

.btn:active {
    opacity: 0.8;
    transform: scale(0.95);
}

.btn:hover {
    color: white;
}

.btn:focus {
    box-shadow: none;
}

.btn_orange {
    background: linear-gradient(360deg, #e2a03b 0%, #eeca4d 100%);
    border: none;
}

.btn_orange:hover {
    background: linear-gradient(360deg, #e8a847 0%, #fbcf35 100%);
}

.btn_outline-orange {
    color: #3b3d3e;
    border: 1px solid #e2a03b;
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 19px;
}

.btn_outline-orange:hover {
    background-image: linear-gradient(360deg, #e2a03b 0%, #eeca4d 100%);
    border: none;
}

.carousel-indicators {
    background: initial;
    z-index: 15;
    position: absolute;
}

.carousel-indicators li {
    background-color: initial;
    margin-left: 12px;
}

.carousel-indicators li:before {
    content: "";
    position: absolute;
    bottom: 7px;
    display: block;
    background-color: grey;
    border-radius: 8px;
    width: 9px;
    height: 9px;
}

.carousel-indicators li:active {
    opacity: 0.9;
    transform: scale(0.55);
}
nav {
    li {
        list-style: none;
    }
}

a {
    color: #e2a03b;
    cursor: pointer;

    &:hover {
        color: #f9bc02;
        text-decoration: none;
    }
}
.nav-list {
    display: flex;
    justify-content: space-around;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    margin: 0;
    padding: 0;
    height: 100%;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .nav__link {
        }
    }
}
.heading_orange {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #E2A03B;
}
.logo {
    img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}
.phone,
.address {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
        margin-right: 10px;
    }
}

.address {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #3b3d3e;
}

.phone {
    &__link {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-align: right;
        color: #3b3d3e;
    }
}
.social {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-width: 270px;
	padding: 20px 0 10px;

    &__link {
        width: 30px;
        height: 30px;
        margin-right: 20px;

        .icon {
            width: 100%;
            height: 100%;
            
        }
    }
}


.card {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: none;

    &-header {
        background-color: initial;
        border: none;
        overflow: hidden;
        padding: 0;
    }

    &-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }
}

input {
    width: 100%;
    border-radius: 30px;
    border: 2px solid transparent;
    height: 50px;
    padding: 16px 27px;

    &:focus {
        border-color: #f47500;
    }

    &:active {
        opacity: 0.9;
        transform: scale(0.98);
    }
}

input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input {
    outline: none;
}

.more-detail {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $primary;

    .icon {
        margin: 0 7px;
        background-color: $primary;
    }
}
.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0 !important;
}

.checkbox + label {
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
}

.checkbox + label::before {
    content: "";
    display: inline;
    flex-direction: row;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    flex-grow: 0;
    border: none;
    border-radius: 2px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
}

@media screen and (max-width: 991px) {
    .checkbox + label::before {
        position: relative;
        top: -6px;
    }
}

.checkbox:checked + label::before {
    border-color: white;
    background-color: white;
    background-image: url("../img/icons/checkbox.svg");
}

.checkbox > .label-text {
    -webkit-user-select: none;
    user-select: none;
}
.agreement {
    width: 520px !important;
    display: flex;
    align-items: center;
    justify-content: center;

    &__label {
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #88929b;
    }
}
.request-link {
    border-bottom: 1px dashed $primary;
    cursor: pointer;

    &:hover {
        border-bottom: 1px solid $primary;
    }
}
.container {
    max-width: 1210px !important;
}
.bg-dark-grey {
    background: #f1f2f4;
}

.bg-light-grey {
    background: #f8f9fb;
}

.copyright {
    height: 70px;
    padding: 30px 0;
}
.privacy {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    text-align: right;
    color: #88929b;
    padding: 30px 0;
}
.breadcrumb {
    background-color: initial;
}

.breadcrumb-item::before {
    display: none;
}

.breadcrumb-item + .active {
    color: $primary;
}

.breadcrumb-item + .active {
    text-decoration-line: underline;
    color: $primary;
}

.breadcrumb-item a {
    color: rgba(112, 112, 112, 0.69);
    text-decoration: none;
}

.breadcrumb-item img {
    width: 10px;
    height: 10px;
    margin: 0 15px;
}
.pagination {
    border: #bcc3d2;
    margin-top: 60px;
}

.pagination .page-link {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    color: #3b3d3e;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #8cad03;
    border-color: #8cad03;
}

.page-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/bg-title.png");
    background-position: top;
    background-repeat: no-repeat;
    padding: 60px;
}

.page-header h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #3b3d3e;
}

@media screen and (max-width: 991px) {
    .page-header h1 {
        font-size: 18px;
        line-height: 160%;
    }
}
