.article {
  font-size: 18px;
  line-height: 140%;
  max-width: 1920px;
  margin: auto;
  padding: 40px 0 80px;
  background: url("assets/img/background/about-bg-1.png") 0 0 no-repeat,
  url("assets/img/background/about-bg-2.svg") 100% 72% no-repeat;

  .heading {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #3b3d3e;
  }

  &__image {
    background-color: rgba(0, 0, 0, 0.1);

    &_main {
      height: 360px;
      width: 100%;
      overflow: hidden;


      img {
        margin: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    }

    &_intext {
      width: 360px;
      height: 240px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      float: left;
      margin: 0 25px 0 0;


      img {
        margin: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }


      @media screen and (max-width: 768px) {
        float: none;
        margin: 25px auto;
      }
    }
  }

  &__card {
    padding: 30px 25px;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;

    h2 {
      text-align: left;
      margin-bottom: 20px;
      text-transform: none;
      color: #000000;
    }
  }

  dl {
    dd {
      width: 100%;
      font-weight: 300;
      font-size: 18px;
      line-height: 140%;
      padding: 20px 25px;
      text-align: left;
      background: #f4f6f8;
      border-radius: 0 6px 6px 0;
      border-bottom: none;
      border-right: none;
      border-top: none;
      border-left: 4px solid $primary;
      color: #3b3d3e;
      margin-top: 12px;
      min-height: 100px;
    }
  }

  span {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #3b3d3e;
  }

  ol {
    counter-reset: myCounter;
  }

  li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    div {
      width: 90%;
      padding: 1px 0;
    }
  }

  li:before {
    counter-increment: myCounter;
    content: counter(myCounter);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: #3b3d3e;
    background: #f9bc02;
    display: inline-block;
    text-align: center;
    margin: 5px 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 1px;
  }

  blockquote p {
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #3b3d3e;
    padding: 20px 42px 45px 105px;
    background: url("../img/icons/comma.svg") #f8f8fb 1% 25% no-repeat;
    background-size: 56px 44px;

    @media screen and (max-width: 768px) {
      padding: 20px 31px 37px 74px;
      background-position-y: 5%;
    }
  }
}
