.side-menu {
    ul {
        padding-inline-start: 0 !important;
    }
    .roll-up,
    .expand {
        cursor: pointer;
    }
}
@media screen and (max-width: 991px) {
    .side-menu {
        background: #ffffff;
        box-shadow: 0 2px 30px rgba(85, 96, 124, 0.12);
        border-radius: 10px;
        padding: 14px 21px;
        margin-bottom: 30px;
    }
}

.side-menu__header {
    height: 50px;

    @media screen and (max-width: 991px) {
        height: auto;
    }

    h2 {
        font-style: normal;
        font-weight: 500;
        font-size: 42px;
        line-height: 120%;
        text-align: left;
        color: #3b3d3e;

        @media screen and (max-width: 991px) {
            font-size: 24px;
            line-height: 120%;
            margin: 0;
        }
    }
}

.side-menu__header .control-btn {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    text-transform: lowercase;
    color: rgba(112, 112, 112, 0.69);
}

.side-menu__list {
    margin: 20px 0;

    @media screen and (max-width: 991px) {
        height: auto;
        max-height: 0;
        visibility: hidden;
        opacity: 0;
        margin: 0;
        pointer-events: none;
        transition: all 0.5s ease-in-out;
    }
    &--open {
        @media screen and (max-width: 991px) {
            max-height: 5000px;
            visibility: visible;
            opacity: 1;
            margin: 20px 0;
            pointer-events: visible;
            transition: all 0.5s ease-in-out;
        }
    }
}

.side-menu__list.active {
    display: flex;
    flex-direction: column;
}

.side-menu__item {
    width: 270px;
    height: 66px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #efefef;
    border-right: none;
    border-top: 1px solid #efefef;
    border-left: 4px solid transparent;
    font-weight: 300;
    font-size: 20px;
    line-height: 100%;
    padding: 15px 20px;
    text-align: left;
    cursor: pointer;

    &:last-child {
        border-bottom: none;
    }
}

@media screen and (max-width: 991px) {
    .side-menu__item {
        width: 100%;
    }
}

.side-menu__item:hover {
    background: #efefef;
    border-radius: 0;
}

.side-menu__item--active {
    background: #f4f6f8;
    border-radius: 0 6px 6px 0;
    border-bottom: none;
    border-right: none;
    border-top: none;
    border-left: 4px solid $primary;
}
