.icon {
    width: 20px;
    height: 20px;
    display: block;
    background-size: contain !important; 

    &-address {
        background: url('../img/icons/map.svg') no-repeat center center;
    }
    &-phone-circle {
        background: url('../img/icons/phone-circle.svg') no-repeat center center;
    }
}
