//  colors
$primary : #E2A03B;
$grey : #F6F6F6 ;
$black : #3B3D3E;
$light-grey : #F6F6F6;
$font-grey : #88929B;

// borders
$border-radius: 5px;
$border-radius-mid: 10px;
$border-radius-big: 18px;

// z-index
$z-bottom: 9;
$z-middle-bottom: 50;
$z-middle: 99;
$z-middle-top: 999;
$z-top: 9999;

// dimensions
$item-height: 300px;

// breakpoints
$xs-break: 410px;
$sm-break: 576px;
$md-break: 768px;
$lg-break: 992px;
$xl-break: 1200px;